# IDE configure file
.idea/
.vscode/
*~
*.sublime-project
*.sublime-workspace

# NPM package installations
node_modules/

# NPM debug log
npm-debug.log

# Git related files. #
*.orig

# Ignore Typescript cache
.tscache

# Ignore grunt-ts crumb
.baseDir.ts

# Ignore build directory
/app/

# Ignore test directory
/test/app/
/test/apptest/

# Ignore configuration files
/config/

# Ignore test coverage results
/.nyc_output

# system related #
.DS_Store

# generated #
public/builder/
